@charset "UTF-8";

body{
	background-color: #e3f1d6;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
	float:right;
	margin-bottom:15px;
}
.img-index-list{
	width: 64px;
    height: 64px;
}
.text-desc{
	font-size: 10px;
	font-weight: norm;
	color: #999
}