<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/community.css">
<script src="js/bootstrap.min.js" type="application/javascript"></script>
<title>Rosae Crucis</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rosae Crucis</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="输入问题">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li th:if="${session.user}==null"><a href="https://github.com/login/oauth/authorize/?client_id=ab40c6d1caf83749ceae&redirect_uri=http://localhost:8888/loginOAuth&scope=user&state=1">登录</a></li>
        <li th:unless="${session.user==null}"><a href="/publish">发布</a></li>
        <li th:unless="${session.user==null}" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.name}"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">消息中心</a></li>
            <li><a href="#">个人中心</a></li>
            <li><a href="#">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">

  <div class="row">
  	<div class="col-lg-9 col-md-12 col-sm-12">
  		<h2><span class="glyphicon glyphicon-list" aria-hidden="true" style="margin-right: 10px;"></span>发现</h2>
  		<br style="height:2px, color:black">
		<ul class="list-group" th:each="question: ${questions}">
		  <li class="list-group-item">
	 		<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object img-rounded img-index-list" th:src="${question.user.avatarUrl}" data-holder-rendered="true">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading" style="font-weight: bold;" th:text="${question.title}"></h4>
				   	<p th:text="${question.description}"></p>
                    <span class="text-desc">
                    	<span th:text="${question.commentCount}"></span> 个回复 • 
                    	<span th:text="${question.viewCount}"></span> 次浏览 • 
                        <span th:text="${question.likeCount}"></span> 个点赞 •
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
			  </div>
			</div>
		  </li>
		</ul>
  	</div>
  	<div class="col-lg-3 col-md-12 col-sm-12">
  		<h3>热门话题</h3>
  	</div>
  </div>
</div>
</body>
</html>