<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/community.css">
<script src="js/bootstrap.min.js" type="application/javascript"></script>
<title>Rosae Crucis</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rosae Crucis</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="输入问题">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li th:if="${session.user}==null"><a href="https://github.com/login/oauth/authorize/?client_id=ab40c6d1caf83749ceae&redirect_uri=http://localhost:8888/loginOAuth&scope=user&state=1">登录</a></li>
        <li th:unless="${session.user==null}"><a href="/publish">发布</a></li>
        <li th:unless="${session.user==null}" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.name}"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">消息中心</a></li>
            <li><a href="#">个人中心</a></li>
            <li><a href="#">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
  <div class="row">
  	<div class="col-lg-9 col-md-12 col-sm-12">
  		<h2><span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-right: 10px;"></span>发起</h2>
  		<br style="height:2px, color:black">
  		<form action="/publish" method="post">
			<div class="form-group">
			  <label for="title">问题标题</label>
			  <input type="text" class="form-control" name="title" id="title" placeholder="请输入问题..." th:value="${title}">
			</div>
			<div class="form-group">
			  <label for="description">问题补充</label>
			  <textarea name="description" id="description" class="form-control" cols=30 rows=10 th:text="${description}"></textarea>
			</div>
			<div class="form-group">
			  <label for="tag">添加标签</label>
			  <input type="text" class="form-control" name="tag" id="tag" placeholder="输入标签，逗号隔开" th:value="${tag}">
			</div>
			<span th:text="${error}" style="color:red"></span>
			<button type="submit" class="btn btn-success btn-publish">发布</button>
  		</form>
  	</div>
  	<div class="col-lg-3 col-md-12 col-sm-12">
  		<h3>发起问题指南</h3>
		<ul>
		  <li>问题标题：不超过25字</li>
		  <li>问题描述：确保问题清楚准确，并提供相关资料</li>
		  <li>选择标签：选择至少一个合适的标签，多个标签用逗号隔开，每个标签不超过十个字</li>
		</ul>
  	</div>
  </div>
</div>
</body>
</html>